@import "variable";
/* CSS bread_crumbs_bgc */

.bread_crumbs_bgc {
    background-color: #f8f3f4;
}

.bread_crumbs {
    height: 148px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f3f4;
    @extend .bootstrap_padding_none;
}

.bread_crumbs_head {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.breadcrumb{
    .link_breadcrumbs{
        color: black;
    }
}

.brad_crumbs_map {
    display: flex;
}

.style_link_bread_crumbs {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.style_link_bread_crumbs:hover{
    color: #ef5b70;
}