/* CSS bread_crumbs_bgc */

.bread_crumbs_bgc {
    background-color: #f8f3f4;
}

.bread_crumbs {
    height: 148px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bread_crumbs_head {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.brad_crumbs_map {
    display: flex;
}

.style_link_bread_crumbs {
    color: #636363;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}


/* CSS product_select_form */


/* Menu_product_select */

.menu_product_select {
    width: 243px;
    display: flex;
    flex-direction: column;
}

.category_product_select,
.brand_product_select,
.designer_product_select {
    width: 100%;
    height: 37px;
    margin-top: 18px;
    position: relative;
}

.button_product_select {
    color: #ef5b70;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    list-style-type: none;
    padding-left: 17px;
}

.button_product_selec::after {
    content: '\25B6';
    padding-right: 0.5em;
}

.product_select_line {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #ef5b70;
}


/* CSS info_bonus_bgc */

.info_bonus_bgc {
    background-color: #222224;
}

.info_bonus_prod {
    height: 341px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.free_delivery_info_prod,
.sales_discount_info_prod,
.quality_assurance_info_prod {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 341px;
}

.box_info_bonus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bonus_info_bottom_prod {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.35px;
    margin-top: 21px;
}

.img_info_bonus_prod {
    margin-bottom: 23px;
}