* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
}

.bootstrap_padding_none, .heading, .categories, .bread_crumbs {
  padding: 0;
}

.heading {
  height: 100px;
}

.line_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1140px;
}

.Friendly_logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Logo_home_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.Logo_home_page_info {
  padding-left: 12px;
  padding-top: 10px;
  width: 93px;
  height: 19px;
  color: #222222;
  font-family: "Lato Light";
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.68px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.Logo_home_page_info::after {
  content: "D";
  color: #f16d7f;
  font-family: "Lato - Black";
  font-weight: 400;
  letter-spacing: 0.68px;
}

.Serch_line {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  width: 403px;
  left: 250px;
  top: 5px;
}

.Friendly_Account {
  position: relative;
  padding-top: 5px;
}

.Button_brouse {
  width: 87px;
  height: auto;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  list-style-type: none;
  position: relative;
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.Button_browes_open {
  position: absolute;
  width: 267px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 19px;
  padding-bottom: 22px;
  top: 55px;
  left: -4px;
  z-index: 1;
}

.Header_brouse_catalog, .Header_brouse_catalog_1 {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: uppercase;
}

.Header_brouse_catalog_1 {
  padding-top: 30px;
}

.Button_brouse_link {
  font-family: Lato;
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  letter-spacing: 0.35px;
  text-decoration: none;
  padding-left: 3%;
}

.Button_brouse_link:hover {
  color: #f16d7f;
}

.line_bottom {
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-top: 10px;
  margin-bottom: 16px;
}

.button_account_open_form {
  width: 90%;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cash_items {
  margin-bottom: 16px;
}

.cash_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 19px;
}

.Check_cash_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Check_cash_items {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 11px;
}

.Check_cash_items:hover {
  color: #f16d7f;
  border-color: #f16d7f;
}

.cash_result_info {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.Brouse_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.search_line {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  font-family: Lato;
  width: 279px;
  padding-left: 15px;
}

.search_icon_form {
  width: 38px;
}

.store_box_form {
  position: absolute;
  left: -87px;
  top: -11px;
  width: 70px;
  height: 70px;
}

.store_box_form:hover .Button_account_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Button_registration {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  position: relative;
}

.Button_account_open {
  position: absolute;
  width: 262px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid gray;
  top: 60px;
  right: -145px;
  display: none;
  z-index: 1;
  padding-top: 21px;
  padding-bottom: 19px;
}

.cash_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Name_cash_items {
  font-size: 12px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: black;
}

.num_cash_items {
  color: #f16d7f;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.bootstrap_padding_none, .heading, .categories, .bread_crumbs {
  padding: 0;
}

.categories {
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1140px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80%;
  position: relative;
}

.link {
  text-decoration: none;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.catalog_list {
  list-style-type: none;
  padding: 15px;
}

.catalog_box {
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background-color: white;
  display: none;
  width: 846px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  top: 45px;
  left: 90px;
  z-index: 1;
}

.catalog_list:hover .catalog_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Catalog_items_img_form {
  position: relative;
}

.Catalog_items_img_text {
  position: absolute;
  bottom: 12px;
  right: 10px;
  color: #ffffff;
  font-family: "Lato - Black";
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
}

.Catalog_items_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 285px;
}

.indicator {
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -7px;
  left: 60px;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.browes {
  left: 35px;
}

.accouunt {
  left: 190px;
}

.Women {
  left: 175px;
}

.Kids {
  left: 297px;
}

.Accoseriese {
  left: 440px;
}

.Featured {
  left: 605px;
}

.Hot_Deal {
  left: 750px;
}

.Catalog_items {
  width: 235px;
  margin-right: 46px;
}

.Catalog_items:last-of-type {
  margin-right: 0;
}

.Head_Catalog {
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.35px;
}

.line {
  border: 1px solid #e8e8e8;
  height: 1px;
}

.item_link {
  display: block;
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #646464;
}

.item_link:hover {
  color: deeppink;
}

.bootstrap_padding_none, .heading, .categories, .bread_crumbs {
  padding: 0;
}

/* CSS bread_crumbs_bgc */
.bread_crumbs_bgc {
  background-color: #f8f3f4;
}

.bread_crumbs {
  height: 148px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f3f4;
}

.bread_crumbs_head {
  color: #f16d7f;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.link_breadcrumbs {
  text-decoration: none;
}

.brad_crumbs_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.style_link_bread_crumbs {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.style_link_bread_crumbs:hover {
  color: #ef5b70;
}

.slide_bgc {
  background-color: #f7f7f7;
}

.slide_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-inner_width {
  width: 597px;
}

.d-block_img {
  width: 597px;
  height: 724px;
}

.button_slide_color {
  width: 50px;
  height: 50px;
  background-color: #d8d8d8;
  top: 260px;
}

.fly_window_info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.fly_window_content {
  margin-bottom: 63px;
}

.fly_window_header {
  width: 618px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 73px;
}

.fly_window_header_top {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.line_fly_window_header {
  width: 147px;
  height: 1px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
  margin-bottom: 17px;
  position: relative;
}

.line_pink_fly_window_header {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
  left: 40px;
  top: -1px;
}

.fly_window_header_center {
  color: #4d4d4d;
  font-family: "Lato - Black";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 67px;
}

.fly_window_header_bottom {
  color: #5e5e5e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

.fly_window_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fly_window_struct {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  margin-top: 28px;
}

.Designed_fly_window, .Material_fly_window {
  color: #b9b9b9;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.Designed_fly_window::after {
  content: 'BINBURHAN';
}

.Material_fly_window::after {
  content: 'COTTON';
}

.Designed_fly_window::after, .Material_fly_window::after {
  color: #2f2f2f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.fly_window_cash_style {
  color: #ef5b70;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 37px;
}

.line_fly_window_cash {
  margin-top: 43px;
  width: 642px;
  height: 1px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
}

.select_option_fly_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 540px;
  margin-bottom: 28px;
}

.select_option {
  padding-left: 10px;
}

.form_select {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.Info_select {
  color: #bcbcbc;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.Button_select_option {
  width: 537px;
  height: 55px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
}

.Button_select_option:hover {
  border: 1px solid #ef5b70;
}

.Button_option_fly_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 143px;
}

.img_button_select_option {
  position: absolute;
  left: 190px;
  top: 15px;
}

.over_items_form {
  margin-top: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.header_over_items {
  color: #4d4d4d;
  font-family: "Lato - Black";
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.bootstrap_padding_none, .heading, .categories, .bread_crumbs {
  padding: 0;
}

.Fetured_Items_Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Head_of_sale {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.Top_head_of_sale {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.75px;
}

.Bottom_head_of_sale {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.35px;
}

.Sale_catalog_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 79px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.Cash_items {
  list-style-type: none;
  margin-right: 29px;
}

.Link_cash_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}

.Cash_item_info_top {
  color: #222222;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 19px;
  margin-bottom: 17px;
}

.Cash_item_info_bottom {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.Cash_items:nth-child(4),
.Cash_items:nth-child(8) {
  margin-right: 0px;
}

.Cash_items:nth-child(1),
.Cash_items:nth-child(2),
.Cash_items:nth-child(3),
.Cash_items:nth-child(4) {
  margin-bottom: 32px;
}

.backgroundcolor_#e9e9e9 {
  background-color: #e9e9e9;
}

.backgroundcolor_#fcf8ed {
  background-color: #fcf8ed;
}

.Link_logo_cash {
  width: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e9e9;
  height: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Cash_items_dark_form {
  position: relative;
  display: block;
}

.Cash_items_dark_form:hover .Link_logo_cash {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.Cash_items_dark_form:hover .add_to_cart_form {
  position: absolute;
  width: 123px;
  height: 39px;
  border: 1px solid white;
  top: 120px;
  left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.add_to_cart_form {
  display: none;
  position: absolute;
  width: 123px;
  height: 39px;
  border: 1px solid white;
  top: 120px;
  left: 65px;
}

.add_to_cart_form::before {
  content: url(img/Forma_1_copy.png);
  margin-right: 7px;
}

.info_add_to_cart {
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
}

.add_to_cart_form:hover {
  -webkit-box-shadow: 0px 0px 6px 7px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 6px 7px rgba(255, 255, 255, 0.2);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.Button_cash_item {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border-color: #f16d7f;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.4px;
  margin-bottom: 113px;
  -webkit-transition: background-color 0.7s linear, color 100ms linear;
  transition: background-color 0.7s linear, color 100ms linear;
}

.Button_cash_item:hover {
  background-color: #ffffff;
  color: #f16d7f;
}

.bootstrap_padding_none, .heading, .categories, .bread_crumbs {
  padding: 0;
}

.conclusion_bgc {
  background-color: #ebebeb;
  height: 438px;
}

.conclusion {
  background-image: url(img/Sea_coclusion.png);
  height: 438px;
  width: 1609px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: -234px;
}

.container_fixed_img {
  position: relative;
}

.biography_form {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.biography_box {
  width: 565px;
}

.biography_info {
  width: 386px;
  padding-top: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.biography_history {
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.4px;
  margin-bottom: 19px;
}

.author {
  font-family: "Lato - Bold";
  color: #f16d7f;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
}

.city {
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}

.conclusion_img {
  height: 83px;
  margin-right: 28px;
}

.line_center {
  border: 1px solid white;
}

.submit_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 565px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit_info {
  width: 318px;
}

.top_conclusion_info {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  letter-spacing: 0.35px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.bottom_conclusion_info {
  letter-spacing: 0.35px;
  text-align: center;
  line-height: 24px;
  margin-bottom: 35px;
}

.submit_button {
  width: 104px;
  height: 50px;
  border-radius: 0 23px 23px 0;
  position: absolute;
}

.submit-input-form {
  position: relative;
}

.submit-input-form .Line_submit {
  width: 334px;
  height: 46px;
  border-radius: 23px;
  background-color: #e1e1e1;
  padding-left: 15px;
}

.submit-input-form__button-position {
  right: 0px;
  top: 0px;
}

.submit-input-form_pink {
  background-color: #f16d7f;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.submit-input-form_hover_white:hover {
  color: #f16d7f;
  background-color: inherit;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 89px;
}

.footer_left_info {
  width: 427px;
  margin-top: 123px;
  margin-right: 63px;
}

.top_footer_text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.35px;
  margin-top: 41px;
}

.footer_right_box {
  margin-top: 123px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  min-width: 650px;
}

.footer_right_info:nth-child(1) {
  color: #f16d7f;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  list-style-type: none;
}

.footer_right_info:nth-child(n+2) {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  list-style-type: none;
}

.footer_right_info:nth-child(2) {
  letter-spacing: 0.4px;
  line-height: 59px;
}

.footer_right_info:nth-child(3),
.footer_right_info:nth-child(4) {
  letter-spacing: 0.4px;
  line-height: 42px;
}

.footer_right_info:nth-child(4) {
  padding-bottom: 10px;
}

.footer_right_info:nth-child(5) {
  padding-bottom: 18px;
}

.link_footer_right_info {
  text-decoration: none;
}

.last_line_form {
  height: 79px;
  background-color: #ebebeb;
}

.last_line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 79px;
  width: 1140px;
}

.square_last_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form_square_last_line {
  list-style-type: none;
  margin-right: 8px;
}

.form_square_last_line:last-child {
  margin-right: 0px;
}

.link_last-line {
  display: block;
  width: 32px;
  height: 32px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link_last-line:hover {
  background-color: #f16d7f;
}

.submit_button {
  height: 45px;
}
/*# sourceMappingURL=style_single.css.map */