//container
$Width_container: 1140px;

//add_catalog_item_form
$Width_product: $Width_container*0.39;

$Width_product_param: $Width_container*0.1;

$Color_pink: #f16d7f;

//Output_registration_form

$Width_adress_discount_output: $Width_container*0.311;

$Width_checkout_output: $Width_container*0.316;
